*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: white;
    --light-grey: #f2f2f2;
    --light-yellow: #ffd867;
    --light-pink: #ffceba;
}

nav{
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    color: #5f6368;
    font-family: 
    "Google Sans",roboto(wolf2),arial,sans-serif;
    
}
nav img{
    height: 2.5rem;
    background-color: #eee;
}
nav .left-nav{
    display: flex;
    padding-left: 1rem;
}
nav ul{
  
    display: flex;
    list-style: none;
}
nav ul li{
    padding: 1rem;
    font-size: 14px;
}
nav span{
    padding: 0.5rem;
    font-size: 22px;
}
.right-nav{
    display: flex;
    margin-top: 5px;
}
.right-nav-a{
    padding: 9px 15px;
  
}
.right-nav img{
   border-radius: 50px;
    padding: 5px;
}
/* 
.dropdown .content a{
    
} 

.dropdown .content{
    position: absolute;
    display: none;
    overflow-y: scroll;
    max-width: 300px;
    max-height: 500px;
    padding: 20px 30px ;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
    25px 0px 20px -20px rgba(0,0,0,0.45),
    0px 25px 20px -20px rgba(0,0,0,0.45),
    -25px 0px 20px -20px rgba(0,0,0,0.45);
}



.dropdown:hover .content{
    display: block;
    z-index: 1;
}

.dropdown .dropdown-heading{
    border: 1px solid grey;
    padding: 2px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}

h1{
    font-size: 1.5rem;
} */

/* dropdown menu */


.nav-links{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 80vw;
    margin-top: 60px;
}

.open-in-new{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.open-in-new-list{
    display: flex;
    padding: 4px 20px;
}

.open-in-new:hover{
    background-color: var(--light-grey);
    cursor: pointer;
    border: 1px ;
    border-radius: 15px;
}

.dropdown-heading{
    border: 1px solid grey;
    border-radius: 15px;
    padding: 4px 20px;
    cursor: pointer;
}

#material-icon{
    font-size: 18px;
}



.dropdown{
    position: relative;
    display: inline-block;
}


.dropdown .content{
    position: absolute;
    display: none;
    z-index: 1;
    background-color: white;
    overflow-y: scroll;
    width: 250px;
    max-height: 400px;
    padding: 20px 30px ;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45),
    25px 0px 20px -20px rgba(0,0,0,0.45),
    0px 25px 20px -20px rgba(0,0,0,0.45),
    -25px 0px 20px -20px rgba(0,0,0,0.45);
}

.content a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 2px;
    font-size: 14px;
}

.dropdown:hover .content{
    display: block;
}
.content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover{
    display: block;
}

.dropdown .content::-webkit-scrollbar{
    display: none;
}

.nav-links .dropdown:hover{
    background-color: var(--light-grey);
    border-radius: 25px;
}




/* section 1 */

.section1{
    margin-top: 30px;
}


.heading{
    display: flex;
    margin-left: 18.5%;
    margin-top: 3%;
}


.carsol-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 50px;
    align-items: end;
}

.carsol-item-stats{
    display: flex;
    gap: 5px;
}

.carsol-item-list img{
    width: 195px;
    padding: 10px;
    border-radius: 15px;
}

.carsol-item-list:hover{
    background-color: var(--light-grey);
    cursor: pointer;
    border-radius: 5px;
}

.carsol-item-data{
    padding: 9px;
}

.containter2{
    background-color: var(--light-yellow);
    height: 50vh;
    position: relative;
    margin-top: 5%;
    width: 100%;
}


.bg-img img{
    position: absolute;
    width: 700px;
    height: 400px;
    left: 350px;
    bottom:0px;
    box-shadow: -10px 0px 14px 0px var(--light-yellow) ;
}
.containter2 .content div{
    margin-left: 18%;
}

/* section2 */

.section2{
    margin-top: 100px;
}

.section-content{
    margin-left: 18.6%;
}
/* section2  */

.section2-links{
    margin-left: 18.5%;
    display: flex;
    gap: 5%;
}

.section2-links-items{
    border: 1px solid grey;
    border-radius: 15px;
    padding: 4px 20px;
    cursor: pointer;
    margin-bottom: 2%;
}

.section2-links-items a{
    text-decoration: none;
    color: black;
}

.section2-carts-list img{
    border-radius: 5px;
}

.section2-links-items:hover{
    background-color: #f1f1f1;
}

.section2-carts1{
    display: flex;
    margin-left: 18.5%;
    gap: 100px;
    margin-bottom: 1%;
    align-items: center;
}

.section2-carts1 .section2-carts-items{
    display: flex;
    gap: 2%;
    padding: 10px;
}

.section2-carts1 .section2-carts-list{
    display: flex;
    gap: 3%; 
    justify-content: center;
    width: 300px;
}


.section2-carts-stats{
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.section2-carts-items:hover{
    background-color: var(--light-grey);
    border-radius: 5px;
    cursor: pointer;    
} 

.index{
    display: flex;
    margin-top: 10%;
}

.heading h2{
    margin-bottom: 2%;
}

/* .container10{
    overflow-x: scroll;

} */

/* section 3 */

.section3{
    margin-top: 3%;
    height: 50vh;
    background-color: var(--light-pink);
}

/* section 4 */
.section4-template{
    background-image: linear-gradient(to right, rgb(41, 173, 255) 40%, rgba(41, 173, 255, 0) 80%, transparent);
    height: 35vh;
    width: ;
    margin-left: 18.5%;
    margin-top: 4%;
    border-radius: 5px;
}

.section4-template img{
    position: absolute;
    right: 300px;
    height: 35%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
}

.section4-template-heading{
    display: flex;
    flex-direction: column;
    padding-top: 9%;
    font-size: 25px;
    padding-left: 4%;
}

.line{
    width: 63%;
    height: 1px;
    margin-top: 2%;
    background-color: black;
    margin-left: 18.5%;
}

/* footer */

.footer{
    margin-left: 18.5%;
    margin-right: 18.5%;
    margin-top: 2%;
}
.footer .footer1{
    margin-top: 2%;
   
    display: flex;
    gap: 20%;
}

.footer2{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.footer2-content{
    display: flex;
    gap: 5%;
    font-size: 13px;
}

.footer2-content{
    margin-bottom: 2%;
}
.footer2-content img{
    width: 23px;
}