*{
    margin: 20px;
    padding: 1px;
}


.btn{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    height: 80%;
    border-radius: 20px;
    border-color: #5f6368;
    width: 100px;
    height: 10px;
    padding: 18px;
    text-align: center;
    text-decoration: #5f6368;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    line-height: .3rem;
    font-size: 1.0rem;
    letter-spacing: 0;   
}
/* catalog section */

.catalog_section {
    margin: 2rem 0;
    width: 100%;
    overflow: hidden;
}

.heading {
    font-size: 1.8rem;
    font-weight: 700;
    color: #202124;
    letter-spacing: none;
    margin: 1rem 0 0 0rem;
}
.detail{
    position: relative;
    
    margin-left:12px;
}
.title{
    font-size:.9rem;
}
.rating-download{
    display:flex;
    font-size:.9rem;
    color:#aaa;
}
.download{
    margin-left:5px;
}

.offers {
    display: flex;
    width: 100%;
    overflow: auto;
}

.offers::-webkit-scrollbar {
    height: 3px;
    width: 4px;
}

.offers::-webkit-scrollbar-thumb {
    background-color: #f1efef;
}

.offer_img {
    width: 10.6rem;
    height: 15.6rem;
    margin: 0.8rem;
}
.categories {
    display: flex;
    width: 100%;
    overflow: auto;
}
.categories::-webkit-scrollbar {
    height: 3px;
    width: 4px;
}
.categories::-webkit-scrollbar-thumb {
    background-color: #f1efef;
}
.category_img {
    width: 10.6rem;
    height: 15.6rem;
    margin: 0.8rem;
}
.sub-heading {
    font-size: 0.8rem;
    font-weight: 700;
    color: #5f6368;
    letter-spacing: none;
    margin: 1rem 0 1rem 0rem;
}

.section2-carts1{
    display: flex;
    margin-left: 1.5%;
    gap: 90px;
    margin-bottom: 0.5%;
    align-items: center;
}

.section2-carts1 .section2-carts-items{
    display: flex;
    gap: 2%;
    padding: 8px;
}

.section2-carts1 .section2-carts-list{
    display: flex;
    gap: 3%; 
    justify-content: center;
    width: 200px;
}


.section2-carts-stats{
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.section2-carts-items:hover{
    background-color: var(--light-grey);
    border-radius: 5px;
    
} 

.index{
    display: flex;
    margin-top: 10%;
}

.heading h2{
    margin-bottom: 2%;
}
.footer .box-container .box h2{
    /* display: flex;
    flex-direction:column; */
    color: #5f6368 ;
    font-size : 1.5rem;
    padding: 1rem;

}
.footer .box-container .box a{
    display: flex;
   flex-direction: column;
    color: #5f6368 ;
    font-size : 1.2rem;
}

